.feature-footer-section {
  background-color: #eafaf1;
  padding-bottom: 3rem; /* Adjust padding for smaller screens */
}

.project-icon {
  text-align: center;
  padding: 2rem;
  padding-bottom: 1rem; /* Reduce bottom padding */
}

.project-icon h1 {
  font-size: 2.5rem; /* Adjust font size for smaller screens */
  font-weight: 700;
}

.feature-footer-section-content {
  display: flex;
  flex-direction: column; /* Stack items vertically on smaller screens */
  align-items: center;
  padding: 1rem; /* Add padding for smaller screens */
  text-align: center;
  width: 100%;
  max-width: 1200px; /* Limit maximum width */
  margin: 0 auto; /* Center the content */
}

.feature-footer-section-items {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  width: 100%; /* Full width */
  max-width: 300px; /* Limit maximum width for each item */
  margin: 1rem 0; /* Add vertical margin */
  text-align: center; /* Center text */
}

.feature-footer-section-items h1 {
  font-size: 1.5rem; /* Adjust heading size for smaller screens */
  margin-bottom: 1rem; /* Add margin for spacing */
}

.feature-footer-section-items p {
  font-size: 1rem; /* Adjust paragraph size for smaller screens */
}

/* Responsive Design */
@media (min-width: 769px) {
  .feature-footer-section-content {
    flex-direction: row; /* Arrange items horizontally on larger screens */
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: space-between; /* Space items evenly */
  }

  .feature-footer-section-items {
    width: 23%; /* Set width for each item */
    max-width: none; /* Remove maximum width */
    margin: 0; /* Remove margin */
    text-align: left; /* Align text to the left */
  }
}

@media (max-width: 768px) {
  .feature-footer-section-content {
    flex-direction: column; /* Stack items vertically on smaller screens */
    padding: 1rem; /* Adjust padding for smaller screens */
  }

  .feature-footer-section-items {
    width: 100%; /* Full width for each item */
  }
}
